@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap');
body {
    background-color: #FFF;
    font-family: Raleway, Helvetica, Arial, sans-serif;
}

.modal-header .close {
    font-size: 40px;
}

.btn-tweet {
    background-color: #1da1f2;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.btn-tweet:hover {
    background-color: #00B6F1;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.btn-tweet-sm {
    background-color: #1da1f2;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.btn-tweet-sm:hover {
    background-color: #00B6F1;
    color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.btn-round-lg {
    border-radius: 22.5px;
}

.btn-round {
    border-radius: 17px;
}

.btn-round-sm {
    border-radius: 15px;
}

.btn-round-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

.postTweet-icons {
    font-size: 22px;
    color: #1da1f2;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1a1a1a;
    color: #000;
}

.content-container {
    padding-top: 20px;
}

.sidebar-logo {
    /* padding: 10px 15px 10px 30px; */
    width: 100%
    /* font-size: 18px;
    color: #1da1f2; */
}

.sidebar-navigation {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
}

.sidebar-navigation li {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-navigation li a {
    padding: 10px 15px 20px 30px;
    display: block;
    color: #000;
}

.sidebar-navigation li .fa {
    margin-right: 10px;
}

.sidebar-navigation li a:active, .sidebar-navigation li a:hover, .sidebar-navigation li a:focus {
    text-decoration: none;
    outline: none;
    color: #42b0f4;
}

.sidebar-navigation li::before {
    background-color: #e8f5fe;
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    z-index: -1;
}

.sidebar-navigation li:hover::before {
    width: 100%;
}

.sidebar-navigation .header::before {
    background-color: transparent;
}

.content-container {
    padding-left: 220px;
}

@media(max-width:1199px) {
    .navlink {
        display: none;
    }
}

@media(max-width:765px) {
    .navlink {
        display: initial;
    }
}

.container-content {
    font-family: 'Raleway', sans-serif;
    width: 40%;
    min-width: 500px;
}

.border-modified {
    border-color: #E1E8ED;
    border-style: solid;
    border-width: 0px 1px 2px 1px;
}

/* .btn-tweet {
    display: inline-block;
    margin-right: 15px;
    width: 80px;
    padding: 0 auto;
} */

.postTweet {
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-color: #000;
}

.tweet {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.loadingBar {
    width: 100px;
    /*I add this*/height: 32px;
    /* margin-right: 15px; */
    background-color: white;
    border: 1px solid black;
}

#remain {
    /*I add this*/height: 100%;
    width: 0%;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: #1DA1F2;
}

#remainModal {
    height: 30px;
    width: 0%;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: #1DA1F2;
}

#tweetArea {
    display: block;
    box-sizing: border-box;
    /* width: calc(100% - 15px);  */
    min-height: 100px;
}

.features {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.comment, .retweet, .like, .share, .analytic, .trash {
    cursor: pointer;
}

#tweetContent {
    display: block;
    box-sizing: border-box;
    width: calc(100% - 15px);
    min-height: 100px;
}