body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.container {
    font-family: 'Raleway', sans-serif;
    width: 40%;
    min-width: 500px;
}

.border-modified {
    border-color: #E1E8ED;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
}

.btn-tweet {
    display: inline-block;
    margin-right: 15px;
    width: 80px;
    padding: 0 auto;
}

.tweet {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#loadingBar {
    width: 100px;
    margin-right: 15px;
    background-color: white;
    border: 1px solid black;
}

#remain {
    height: 30px;
    width: 0%;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: #1DA1F2;
}
